.App {
  text-align: center;
}
body {
  font-family: 'Sarabun', sans-serif;
  padding: 0%;
  margin: 0%;
  background-image: linear-gradient(rgba(30, 32, 39, 0.7),rgba(91, 93, 102, 0.7)),url(./assets/bg-image.jpg);
  background-size: 1500px;
}

nav {
  font-family: 'Indie Flower', cursive;  margin: 0;
  padding: 5px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


 .signout {
  background-color: transparent;
  padding: 5px;
  border: 1.5px solid rgb(0,230,255);
  border-radius: 5px;
  color: rgb(0,230,255);
  text-decoration: none;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s,padding 0.3s, font-size 0.3s;
}
.signout:hover{
  font-size: 20px;
  border: 1.5px solid rgb(210,39,48);
  background-color: none;
  color: rgb(210,39,48);
  /* padding: 10px; */
  border: 1.5px solid rgb(210,39,48);

}



a {
  padding: 5px;
  border: 1.5px solid rgb(0,230,255);
  border-radius: 5px;
  color: rgb(0,230,255);
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  transition: background-color 0.3s, padding 0.3s;

}

a:hover {
  border: 1.5px solid rgb(224,231,34);
  background-color: transparent;
  color: rgb(224,231,34);
  padding: 13px;
  background-color: none;
}

.createPostPage {
  width: 100%;
  display: grid;
  place-items: center;
}

.cpContainer {
  margin-top: 20px;
  width: 500px;
  height: auto;
  padding: 15px;
  background-color: rgb(13, 177, 171);
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
  text-transform: uppercase;
}

.cpContainer label {
  font-size: 25px;
}

.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.cp-button {
  margin-top: 20px;
  color: white;
  background-color: rgb(13, 177, 171);
  width: fit-content;
  margin-left: 215px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  height: 50px;
  width: 90px;
  transition: 0.3s;

}

.cp-button:hover {
  background-color: black;
}

.login-heading {
  color: white;
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
  background-color: antiquewhite;
}

.inputGp input:hover {
  background-color: black;
  color: white;
}

.inputGp textarea {
  height: 150px;
  background-color: antiquewhite;

}
.inputGp textarea:hover {
  background-color: black;
  color: white;
}

input,
textarea {
  margin-top: 5px;
}

.loginPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-credentials {
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.loginPage p {
  font-size: 30px;
}

.login-with-google-btn {
  cursor: pointer;
  padding: 5px 16px 12px 42px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(66 133 244);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.login-with-google-btn:hover {
  background-color: black;
}

.login-with-email-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 7px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(247, 50, 5)
}

.login-with-email-btn:hover {
  background-color: black;
}

.login-with-guest-btn{
  cursor: pointer;
  padding: 5px 16px 12px 42px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(127, 130, 135);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.login-with-guest-btn:hover{
  background-color: black;
}

.login-with-fb-btn {
  cursor: pointer;
  padding: 5px 16px 12px 42px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(66 103 178);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.login-with-fb-btn:hover {
background-color: black;
}

.login-with-phone-btn {
  cursor: pointer;
  padding: 5px 16px 12px 42px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(84, 212, 137);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.login-with-phone-btn:hover{
  background-color: black;
}
.homePage {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.homePage h1 {
  font-family: 'The Nautigal', cursive;
  font-size: 80px;
  color: rgb(0,230,255);
  margin-top: -10px;
  transition: 0.3s;
}

.homePage h1:hover {
  color: rgb(224,231,34);
}

.homePage .post {
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 50%;
}
.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}


