.App {
  text-align: center;
}
body {
  font-family: 'Sarabun', sans-serif;
  padding: 0%;
  margin: 0%;
  background-size: 1500px;
  background-position: center;
}

nav {
  padding: 5px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  left: -200px;
  top: 20px;
}

.sign-in {
position: inherit;
right: -450px;
font-size: large;
}

nav h1 {
  font-family: 'Sail', cursive;

}

 .signout {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: rgb(1, 13, 14);
  text-decoration: none;
  margin: 10px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color;
  position: relative;
  left: 450px;
}

.signout:hover{
  background-color: red;

}

a {
  padding: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
  transition: background-color 0.3s; 
  color: grey;
}

a:hover {
color: black;
}

.createPostPage {
  width: 100%;
  display: grid;
  place-items: center;
}

.cpContainer {
  margin-top: 20px;
  width: 500px;
  height: auto;
  padding: 15px;
  background-color: rgb(231, 60, 163);
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
  font-weight: 300;
}

.cpContainer label {
  font-size: 25px;
}

.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.cp-button {
  margin-top: 20px;
  color: white;
  background-color: transparent;
  width: fit-content;
  margin-left: 215px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  height: 45px;
  width: 85px;
  transition: 0.3s;

}

.cp-button:hover {
  background-color: rgb(11, 11, 11);
}

.login-heading {
  color: black;
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
  background-color: antiquewhite;
}

.inputGp input:hover {
  background-color: black;
  color: white;
}

.inputGp textarea {
  height: 150px;
  background-color: antiquewhite;

}
.inputGp textarea:hover {
  background-color: black;
  color: white;
}

input,
textarea {
  margin-top: 5px;
}

.loginPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-credentials {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.loginPage p {
  font-size: 30px;
} 

.login-with-google-btn {
  cursor: pointer;
  padding: 5px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 450;
  background-color: rgb(66 133 244);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.login-with-google-btn:hover {
  background-color: black;
}

.homePage {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: relative;
  left: 10px;
}

.homePage h1 {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(17, 18, 18);
  transition: 0.3s;
  margin-left: -230px;
  position: relative;
  top: 30px;
}

.homePage h1:hover {
  color: rgb(2, 12, 55);
}

.save-btn {
  border: none;
  border-radius: 8px;
  height: 45px;
  width: 85px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  right: -230px;
  top: -15px;
}
.save-btn:hover {
  background-color: rgb(192, 192, 192);
}
.like-btn {
  border: none;
  border-radius: 8px;
  background-color: #ea4c89;
  color: white;
  height: 45px;
  width: 85px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  right: -230px;
  top: -15px;
}
 
.homePage .post {
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 15px;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 50%;
}
.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}


